# deployed to Node hosting
PUBLIC_ORIGIN=
MAINTENANCE_MODE=
ADMIN_USER_ID=
ADMIN_EMAIL=
# Production: postgres://user:password@host:5432/db
# Local SQLite: file:./data/local.db
DATABASE_URL=
AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# for local development only
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
